body{
  margin: 0;
  padding: 0;
  background-color: rgb(218, 201, 255)
}

.query-params{
  display: flex;
  justify-content: center;
}

.resources {
  display: flex;
  padding: 10px;
}

.resources label{
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.box-1{
  height: 600px;
}